* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, orange, pink);
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

#User-comprimento {
  width: 837px;
  height: 140px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

#User-comprimento > h2 {
  text-align: center;
  padding-top: 7vh;
}

#User-comprimento > p {
  text-align: center;
  padding-top: 2vh;
}

#container-menu {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 460px;
  height: 330px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  padding: 10px 20px;
  width: 80%;
  height: 4em;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: pink;
}
